@font-face {
  font-family: "Bonny";
  src: url("/fonts/Bonny-Variable.ttf") format("truetype");
}

@font-face {
  font-family: Satoshi;
  src: url(fonts/Satoshi-Variable.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bonny";
}

html,
body {
  height: 100%;
  width: 100%;
}

.page1 {
  width: 100%;
  height: 100vh;
  background-color: #393939;
  position: relative;
}

.cursor {
  height: 7.5vw;
  width: 7.5vw;
  background-color: #ff5f38;
  border-radius: 50%;
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

#cursor h4 {
  font-size: 4vw;
  font-weight: 700;
}

.page1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.page1-content {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 3vw;
  color: #fff;
  position: fixed;
  width: 100%;
}

nav h2 {
  font-size: 1.5vw;
  font-weight: 500;
}

nav h4 {
  font-size: 1.3vw;
  font-weight: 500;
}

.page1-content h1 {
  font-family: Bonny;
  padding-top: 23vw;
  font-size: 21vw;
  margin-left: 5vw;
}

.page1-content h1 span {
  font-family: Satoshi;
  letter-spacing: 4vw;
}

.page2 {
  width: 100%;
  height: 80vh;
  background-color: #faf8f3;
  position: relative;
  padding: 3vw 2.8vw;
}

.text1 {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 2vh;
  padding-top: 2vw;
}

.text1 p {
  font-size: 1.8vw;
  font-family: Satoshi;
}

.line {
  background-color: black;
  width: 100%;
  height: 0.7px;
}

.text2 span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  line-height: 4vw;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 2vw;
  font-family: Satoshi;
}

.page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #faf8f3;
  position: relative;
  padding: 3vw;
}

.page3-top {
  text-align: center;
}

.page3-top h4 {
  margin-bottom: 1vw;
  font-size: 1vw;
  font-weight: 500;
  font-family: Satoshi;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.page3-top span {
  font-size: 0.8vw;
  letter-spacing: 2px;
  padding: 4px 10px;
  background-color: #252525;
  color: white;
  border-radius: 10px;
}

.page3-top h2 {
  font-size: 3vw;
  font-weight: 500;
  font-family: Satoshi;
}

.page3-elements {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8vw;
  background-color: #faf8f3;
}

.page3 .page3-text  {
  display: flex;
  justify-content: space-between;
  /* background: #000; */
  margin-top: 10vw;
  font-size: 2vw;
}

.page3 .page3-text2 {
  margin-top: 7vw;
  font-size: 2vw;
  /* background: #000; */
  margin: 1vw;
}

.page3-text2 h4{
  font-family: Satoshi;
  font-weight: 400;
}

.page3-text2-part-2 h2 {
  font-family: Satoshi;
  padding: 2vw;
  line-height: 4vw;
  font-size: 4.3vw;
  font-weight: 400;

}

.page3-text p {
  font-family: Satoshi;
}

.page3-elements .box {
  height: 100%;
  width: 32.5%;
  margin-top: -15vw;
  /* background-color: beige; */
  position: relative;
}

.page3-elements .box video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.page3-elements .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  transition: all linear 0.5s;
  object-position: center;
}

.page3-elements .box span img {
  position: absolute;
  object-fit: contain;
  object-position: center;
  width: 10vw;
  left: 10vw;
  top: 15vw;
}

.page3-elements .box:hover img {
  opacity: 0;
}

.page3-elements .box:hover span img {
  opacity: 1;
}



